iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        validate = true
        files {
            idkey = "irida_id"
            global = ["**/prefetch/failures_report.csv"]
            samples = ["**/reads/*.fastq.gz"]
        }
    }
}
