iridanext {
    enabled = true
    output {
        path = "${params.outdir}/iridanext.output.json.gz"
        overwrite = true
        files {
            idkey = "id"
            samples = ["**/sratools/reads/*.fastq.gz"]
        }
        metadata {
            samples {
                json {
                    path = "**/ffq/*.json"
                }
            }
        }
    }
}
